body {
    background: white;
    color: #1D4040
}

::-webkit-scrollbar {
  width: 5px;
}

#mySidebar {
    z-index: 3;
    width: 175px;
    font-weight: bold;
    color: white;
    background-color: #408080;
}

#topBar {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #408080;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .w3-auto {
    max-width: 100%;
  }
  .main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
  }
  .p_holder {
    display: flex;
    justify-content: center;
    margin: 15px;
    background-color: black;
    width: 320px;
    height: 240px;
  }
}

@media (min-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .w3-auto {
    max-width: 100%;
  }
  .main {
    margin-left: 400px;
    margin-right: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-count: 1;
  }
  .p_holder {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 640px;
    height: 480px;
  }
}


.content h1 {
    display: flex;
    justify-content: center;
    margin-top: 65px;;
}

