body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Century Gothic";
}

body {
  background: white;
  transition: 0.5s;
}
#dark {
  width: 0;
  height: 0;
  opacity: 0;
}
label {
  display: block;
  height: 15px;
  width: 60px;
  position: relative;
}
span.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dadada;
  border-radius: 30px;
}
span.slide:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  top: -2px;
  left: 0px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}

#dark:checked + span.slide:before {
  transform: translatex(40px);
}
/* if dark-mode class is added set this background */
body.dark-mode {
  background: #353535;
}
.dark-mode .txt p:nth-child(1) {
  color: #000;
  font-weight: normal;
}
.dark-mode .txt p:nth-child(2) {
  color: grey;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
}

#mySidebar {
    z-index: 3;
    width: 175px;
    font-weight: bold;
    color: white;
    background-color: #408080;
}

#topBar {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #408080;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .w3-auto {
    max-width: 100%;
  }
  .main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
  }
  .p_holder {
    display: flex;
    justify-content: center;
    margin: 15px;
    background-color: black;
    width: 320px;
    height: 240px;
  }
}

@media (max-width: 480px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .w3-auto {
    max-width: 100%;
  }
  .main {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }
  .p_holder {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 15px;
    width: 256px;
    height: 192px;
  }
}

@media (min-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .w3-auto {
    max-width: 100%;
  }
  .main {
    margin-left: 400px;
    margin-right: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-count: 1;
  }
  .p_holder {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 15px;
    width: 640px;
    height: 480px;
  }
}

.content h1 {
    display: flex;
    justify-content: center;
    margin-top: 65px;;
}

